{{- if eq .chezmoi.os "darwin" -}}
export PB_BULLMQ_PRO_TOKEN={{.pb_bullmq_pro_token|quote}}
export PB_GITHUB_PACKAGES_TOKEN={{.pb_github_packages_token}}
export PB_CAPAWESOME_TOKEN={{.pb_capawesome_token}}
{{- end -}}
