{{- $interactive := stdinIsATTY -}}

{{- $anthropic_api_key := "sk-notakey" -}}
{{- if hasKey . "anthropic_api_key" -}}
{{-   $anthropic_api_key = .anthropic_api_key -}}
{{- else if $interactive -}}
{{-   $anthropic_api_key = promptString "anthropic_api_key" $anthropic_api_key -}}
{{- end -}}

{{- $openai_api_key := "sk-notakey" -}}
{{- if hasKey . "openai_api_key" -}}
{{-   $openai_api_key = .openai_api_key -}}
{{- else if $interactive -}}
{{-   $openai_api_key = promptString "openai_api_key" $openai_api_key -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can reset with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  anthropic_api_key: "{{ $anthropic_api_key }}"
  openai_api_key: "{{ $openai_api_key }}"
