{{- $interactive := stdinIsATTY -}}

{{- $openai_api_key := "sk-notakey" -}}
{{- if hasKey . "openai_api_key" -}}
{{-   $openai_api_key = .openai_api_key -}}
{{- else if $interactive -}}
{{-   $openai_api_key = promptString "openai_api_key" $openai_api_key -}}
{{- end -}}

{{- $pb_bullmq_pro_token := "not-the-token" -}}
{{- if hasKey . "pb_bullmq_pro_token" -}}
{{-   $pb_bullmq_pro_token = .pb_bullmq_pro_token -}}
{{- else if $interactive -}}
{{-   $pb_bullmq_pro_token = promptString "pb_bullmq_pro_token" $pb_bullmq_pro_token -}}
{{- end -}}

{{- $pb_github_packages_token := "not-the-token" -}}
{{- if hasKey . "pb_github_packages_token" -}}
{{-   $pb_github_packages_token = .pb_github_packages_token -}}
{{- else if $interactive -}}
{{-   $pb_github_packages_token = promptString "pb_github_packages_token" $pb_github_packages_token -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can reset with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  openai_api_key: "{{ $openai_api_key }}"
  pb_bullmq_pro_token: "{{$pb_bullmq_pro_token}}"
  pb_github_packages_token: "{{$pb_github_packages_token}}"
