{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

sudo -u "$(id -run)" NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

eval "$(/opt/homebrew/bin/brew shellenv)"

brew bundle install --file "$HOME/Brewfile"
{{ end -}}
