{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

# Oh My Zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc

# fnm
curl -fsSL https://fnm.vercel.app/install | bash -s -- --install-dir "./.local/bin" --skip-shell

# starship
curl -sS https://starship.rs/install.sh | sh -s -- --yes

# atuin
if ! command -v cargo &> /dev/null
then
  echo "cargo not found! Attempting to install rustup"

  if command -v rustup &> /dev/null
  then
    echo "rustup was found, but cargo wasn't. Something is up with your install"
    exit 1
  fi

  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  source "$HOME/.cargo/env"

  echo "rustup installed! Attempting cargo install"
fi

cargo install atuin
# bash <(curl https://raw.githubusercontent.com/atuinsh/atuin/main/install.sh)

{{ end -}}
